header {
    justify-content: center;
    display: flex;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

h1 {
    font-weight: 100;
}

a {
    text-decoration: none;
    color: black;
}

footer {
    justify-content: center;
    margin-top: 1rem;
}

input {
    width: 100%;
    border: 0ch;
    border-bottom: 1px solid gainsboro;
    padding-top: 2rem;

    background-color: transparent;
    outline: none;
}

select {
    background-color: transparent;
    border: 0;
    border-bottom: 1px solid;
}



input:focus-within::placeholder {
    color: transparent;
    border-bottom: 1px solid black;
}

input:focus-within~label {

    color: black;
    top: -3rem;
    transition: .5s;
}


label {
    color: transparent;
    top: -2rem;
    position: relative;
}

label:focus-within {}

.logo {
    width: 95%;
    justify-content: center;
    display: flex;
    letter-spacing: 0.3rem;
    font-size: 1.1rem;
    font-weight: 600;
}

.cart-logo-box {
    height: 1.1rem;
    justify-content: end;
}

.cart-logo {
    height: 1.1rem;
}

.nav-bar-box {
    display: flex;
    padding-top: 1rem;
    font-size: 0.8rem;
    justify-content: space-around;
    padding-bottom: 1.5rem;
}

.nav-bar {
    width: 60%;
    display: flex;
    font-size: 0.8rem;
    justify-content: space-around;
}

.footer-div {
    justify-content: center;
    display: flex;
    padding-bottom: 0.5rem;
    padding-top: 0.5rem;
    color: gray;
}

.footer-div-demo {
    background-color: black;
    color: white;
    padding: 1rem;
}

.product-details-box {}

.product-img-1 {
    background-image: url(../images/mens_outerwear.jpg);
    background-size: cover;
    min-height: 20rem;
    background-position: center;
}

.product-img-2 {
    background-image: url(../images/ladies_outerwear.jpg);
    background-size: cover;
    min-height: 20rem;
    background-position: center;
}

.product-img-3 {
    display: flex;
}

.product-img-3-1 {
    width: 50%;
}

.product-img-3-2 {
    width: 50%;
    background-size: cover;
}

.product-img-3-1-1 {
    background-image: url(../images/mens_tshirts.jpg);
    background-size: cover;
    min-height: 20rem;
    background-position: center;
}

.product-img-3-1-2 {
    background-image: url(../images/ladies_tshirts.jpg);
    background-size: cover;
    min-height: 20rem;
    background-position: center;
}

.product-img-label {
    justify-content: center;
    display: flex;
    padding: 2rem 0 1rem 0;
}

.product-shop-now-box {
    justify-content: center;
    display: flex;
    padding: 1rem 0 1rem 0;
}

.product-shop-now {
    border: 2px solid;
    padding: 0.5rem 2.5rem;
}

.product-display-box {
    width: 100%;
    height: auto;
    display: flex;
}

.product-display-img-box {
    width: 50%;
    height: auto;
    display: flex;
    /* margin: 3rem 0; */
    padding: 3rem 3rem;
}

.product-display-img {
    width: 100%;
    height: auto;
    display: flex;
    margin: 3rem 1rem;
}

.product-display-details {
    width: 50%;
    height: auto;
    font-size: 0.8rem;
    margin: 3rem 1rem;
}

.price {
    color: gray;
    font-size: 1rem;
    padding-bottom: 3rem;
}

.size {
    width: 100%;
    font-size: 1rem;
    padding: 1rem 0;
    color: gray;
}

.quantity {
    width: 100%;
    font-size: 1rem;
    padding: 1rem 0;
    border-top: 1px solid gray;
    color: gray;
    border-bottom: 2px solid gray;
    margin-bottom: 2rem;
}

.size-options {
    width: 90%;
    background-color: transparent;
    border-color: transparent;
    font-size: 1rem;
    padding-left: 1.5rem;
}

.quantity-options {
    width: 84%;
    background-color: transparent;
    border-color: transparent;
    font-size: 1rem;
}

.add-to-cart {
    justify-content: center;
    display: flex;
    padding: 1rem 0 1rem 0;
    border: 2px solid black;
    margin: 30%;
}

.description {
    margin-bottom: 0rem;
    margin-top: 2rem;
    line-height: 1rem;
}

.checkout-box {
    width: 100%;
}

.checkout-box-header {
    width: 100%;
    justify-content: center;
}

.checkout-box-header-1 {
    font-weight: 100;
    text-align: center;
}

.checkout-box-header-tag {
    text-align: center;
    color: gray;
    font-size: .9rem;
}

.checkout-box-part {
    display: flex;
}

.checkout-box-part1 {
    width: 50%;
    padding: 3rem;
}

.checkout-box-part2 {
    width: 50%;
    padding: 3rem;
}

.checkout-box-header-1-1 {
    display: flex;
    justify-content: space-between;
}

.checkout-box-header-1-2 {
    display: flex;
    justify-content: space-between;
}

.order-summary {
    display: flex;
    justify-content: space-between;
    margin-top: 2rem;
    font-size: .8rem;
}

.checkout-box-part-def {
    margin-top: 1rem;
}

.address {
    margin-top: 1rem;
}

.inp-sep {
    display: flex;
}

.month-options {
    width: 30%;
}

.year-options {
    width: 30%;
}

.cvv {
    width: 30%;
}

.country-options {
    width: 100%;
    padding-top: .5rem;
    padding-bottom: .5rem;
}

.header-menu-box:hover #nov-hover {
    display: block;
}

.header-menu-box #nov-hover {
    display: none;
    position: fixed;
    background-color: white;
    width: 25%;
    color: gray;
    line-height: 1rem;
    height: 100%;


}

.menu-hover-items {
    padding: 1rem;
}

.a-hover {

    color: gray;
}

@media only screen and (max-width: 767px) {
    .header-menu-box {
        height: 1.1rem;
    }

    .header-menu {
        width: 1rem;
        height: 0.1rem;
        background-color: black;
        margin: 0.15rem 0;
    }

    .nav-bar-box {
        display: none;
    }



    .product-display-box {
        display: block;
        width: 100%;
    }

    .product-display-img-box {
        width: 100%;
        padding: 0;
        margin: 0;
    }

    .product-display-details {
        width: 100%;
        margin: 0;
    }

    .product-display-img {
        margin: 0;
    }

    .add-to-cart {
        margin: 0;
        position: fixed;
        right: 1px;
        left: 1px;
        bottom: 0px;
        background-color: blue;
    }

    .description {
        margin-bottom: 8rem;
    }

    .quantity {
        width: 100%;
    }

    .checkout-box-part1 {
        width: 100%;
        padding: 3rem 0;
    }

    .checkout-box-part2 {
        width: 100%;
        padding: 3rem 0;
    }

    .checkout-box-part {
        display: block;
    }
}